#feed {
  height: 100%;
}

.post {
  position: relative;
  height: 50vh;
  max-width: 50vh;
  border: 1px solid gray;
  overflow: hidden;
  border-radius: 12px;

  cursor: pointer;
}

.post-title-container {
  position: absolute;

  width: 100%;
  height: 64px;
  border-bottom: 1px solid rgb(180, 180, 180);
  background-color: white;
}

.post-title {
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  padding: 18px;
}

.post-caption-container {
  position: absolute;
  bottom: 0px;
  text-align: left;

  width: calc(100%);
  height: 88px;
  border-top: 1px solid rgb(180, 180, 180);
  border-radius: 4px;
  background-color: white;

  transform: translateY(100%);
  opacity: 0;
  transition: all .3s ease-in-out;
}

.post:hover > .post-caption-container {
  transform: translateY(0%);
  opacity: 0.9;
}

.post-caption {
  font-size: 14px;
  line-height: 28px;

  /* Truncate text */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}

.post-image-container {
  height: calc(100% - 64px);
  width: 100%;
  margin-top: 64px;
}

.post-image {
  height: 100%;
  width: auto;
}

@media (min-width: 0px) {
  .post-container {
    padding: 96px 0 32px 0;
  }
}

@media (min-width: 1250px) {
  .post-container {
    padding: 32px 0;
  }
}