* {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

html, body {
  min-height: 100vh;
}

img {
  height: 100%;
  width: auto;
}

/* Top level classes for all components */

.wrapper {
  min-height: 100vh;
  gap: 10px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.center {
  align-items: center;
  text-align: center;
  justify-content: center;
}

.absolute {
  position: absolute;
}